<h1>My app</h1>
<p *ngIf="false">card works!</p>
<button>Olá mundo</button>
<ul>
  <li *ngFor="let p of produtos; let i = index"
    (click)="remover(i)"
  >
    {{ i }} - {{ p }}
  </li>
  <button (click)="adicionar()">Adicionar</button>

  <button (click)="retirar()">Retirar</button>
</ul>

<div [ngSwitch]="menuType">

  <div *ngSwitchDefault>
    <ul>
      <li> editar perfil</li>
      <li> adicionar cartao</li>
    </ul>
  </div>
  <div *ngSwitchCase="'admin'">
    <ul>
      <li> editar perfil</li>
      <li> adicionar cartao</li>
      <li> gerenciar usuarios</li>
    </ul>
  </div>
  <div *ngSwitchCase="'superuser'">
    <ul>
      <li> editar perfil</li>
      <li> adicionar cartao</li>
      <li> gerenciar usuarios</li>
      <li> gerenciar admins</li>
    </ul>
  </div>

</div>
